.gitignore
*.env
*.myenv
.idea/*
**/__pycache__/
**/__pycache__
__pycache__/
__pycache__
/api/migrations/*
**/migrations/**
**/migrations
.env
db.sqlite3
/venv/
/env/
/myenv/
media/*
test*
geckodriver.log
**/.DS_Store
.DS_Store
# Visual Studio / VS Code
.vs/
/obj/
*.pyproj
*.pyproj.user
*.sln
.vscode/settings.json
vsenv*/
*.code-workspace
ds_config.ini
.key